pylast
telethon
wheel
requests
sqlalchemy==1.3.23
python-telegram-bot
psutil
aiohttp
Pillow
git+https://github.com/trentm/python-markdown2.git
pretty_errors
datetime
pytz
bs4
pybase64
pySmartDL
heroku3
gitpython
PyGithub
python-decouple
pyshorteners
lxml
asyncio
beautifulsoup4
unshortenit
nums_from_string
feedparser
python-decouple
python-amazon-paapi
aiofiles
cffi==1.14.4
cryptg==0.2.post2
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
python-dotenv==0.15.0
rsa==4.6
pyrogram
tgcrypto
uvloop
redis
aria2
